<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An Elm app that lists stuff with REST and SPA Routing">
  <meta name="author" content="Jack R. Zhang">

  <title>Lister | Elm</title>
</head>

<body>

  {{{body}}}
  
</body>

</html>